<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Election Peak | Dashboard</title>
  <link rel="stylesheet" href="static/assets/css/newDstyle.css">

</head>
<body>
<!-- partial:index.partial.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

  <!--  Thanks to frontendmentor.io for the challenge.  -->
  
<body>
  <div class="bg">
    <h1>Dashboard</h1>
  </div>
      <nav class="navMenu" style="margin-top:-20%;margin-left:2%;">
      <a href="/">Home</a>
      <a href="/candidates">Candidates</a>
      <a href="#"></a>
      <a href="/admin" >Login</a>
      <div class="dot"></div>
    </nav>
  <div style="margin-top:10%;">
      <div class="row">
          <div class="column" >
  <div class="nft" ><a href="/admin_result">
    <div class='main'>
      <img class='tokenImage' src="static/assets/images/results.png" alt="NFT" />
      <h2 style="color: white;">Results</h2>
      <p class='description' style="font-size:12px;">Caution should be exercised as it is imperative to await the placement of the initial vote subsequent to clearing the databases in order to view the outcome. Failure to comply with this procedure may result in an error, which could potentially disrupt the page's functionality.</p>

      <hr />
      <div class='creator'>

      </div>
    </div>
      </a>
  </div>
              </div>
<div class="column">
<div class="nft" ><a href="/HTML_Editor">
    <div class='main'>
      <img class='tokenImage' src="static/assets/images/html.png" alt="NFT" />
      <h2 style="color: white;">HTML Editor</h2>
      <p class='description' style="font-size:12px;">Please proceed with caution editing the HTML files to incorporate the candidate's information. It is important to note that the candidate's details will be added in a sequential manner, with each new addition appearing above the previous one. Therefore, careful consideration must be given to the order in which the candidates are added if a specific sequence is desired.</p>
      <hr />

    </div></a>
  </div>
    </div>

          <div class="column" style="align-content: center;">
    <div class="nft" ><a href="/documentation#section-8">
    <div class='main'>
      <img class='tokenImage' src="static/assets/images/resources.png" alt="NFT" />
      <h2 style="color: white;">Resources</h2>
      <p class='description' style="font-size:12px;">Within this section, you will find the prescribed steps that must be adhered to in order to successfully host an election on the Election Peak platform.</p>

      <hr />

    </div></a>
  </div>
              </div>

          <div class="row" >
          <div class="column1" style="margin-left:10%">
  <div class="nft" ><a href="/documentation#section-2">
    <div class='main'>
      <img class='tokenImage' src="static/assets/images/installation.png" alt="NFT" />
      <h2 style="color: white;">Installation</h2>
      <p class='description' style="font-size:12px;">This section outlines the prescribed steps that must be followed to utilize the platform across multiple devices.</p>

      <hr />
      <div class='creator'>

      </div>
    </div></a>
  </div>
              </div>
<div class="column1" style="margin-left:-20%">
<div class="nft" ><a href="/utils">
    <div class='main'>
      <img class='tokenImage' src="static/assets/images/util.png" alt="NFT" />
      <h2 style="color: white;">Utilities</h2>
      <p class='description' style="font-size:12px;">Contained within this section are the requisite tools necessary to commence a new election.</p>
      <hr />

    </div></a>
  </div>
    </div>


          </div>


    </div>

</body>

</html>

