<!DOCTYPE html>
<html lang="en"> 
<head>
    <title>Election Peak | Admin Dashboard</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="favicon.ico"> 
    
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">
    
    <!-- FontAwesome JS-->
    <script defer src="static/assets/fontawesome/js/all.min.js"></script>

    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="static/assets/css/theme.css">

</head> 

<body>    
    <header class="header fixed-top">	 
	       
        <div class="branding docs-branding">
            <div class="container-fluid position-relative py-2">
                <div class="docs-logo-wrapper">
<!--	                <div class="site-logo"><a class="navbar-brand" href="/"><img class="logo-icon me-2" src="static/assets/images/coderdocs-logo.svg" alt="logo"><span class="logo-text">Election<span class="text-alt">Peak</span></span></a></div>-->
					<div class="site-logo"><a class="navbar-brand" href="/"><i class="fas fa-cogs fa-fw" style="color:#0276FD;"></i><span class="logo-text" style="margin-left:2%;">Election<span class="text-alt">Peak</span></span></a></div>

                </div><!--//docs-logo-wrapper-->
<!--	            <div class="docs-top-utilities d-flex justify-content-end align-items-center">-->

<!--					<ul class="social-list list-inline mx-md-3 mx-lg-5 mb-0 d-none d-lg-flex" style="margin-right:20%;">-->
<!--						<li class="list-inline-item"><a href="#">Installation</a></li>-->
<!--&lt;!&ndash;			            <li class="list-inline-item"><a href="#">Installation</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;		                <li class="list-inline-item"><a href="#">Installation</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;		                <li class="list-inline-item"><a href="#">Installation</a></li>&ndash;&gt;-->
<!--		            </ul>&lt;!&ndash;//social-list&ndash;&gt;-->

<!--	            </div>&lt;!&ndash;//docs-top-utilities&ndash;&gt;-->
            </div><!--//container-->
        </div><!--//branding-->
    </header><!--//header-->
    
    
    <div class="page-header theme-bg-dark py-5 text-center position-relative" >
	    <div class="theme-bg-shapes-right"></div>
	    <div class="theme-bg-shapes-left"></div>
	    <div class="container">
		    <h1 class="page-heading single-col-max mx-auto">Dashboard</h1>
		    <div class="page-intro single-col-max mx-auto">Everything you need to get your election platform running.</div>
		    <div class="main-search-box pt-3 d-block mx-auto">
             </div>
	    </div>
    </div><!--//page-header-->
   <div class="page-content">
	    <div class="container">
		    <div class="docs-overview py-5">
			    <div class="row justify-content-center">
				    <div class="col-12 col-lg-4 py-3">
					    <div class="card shadow-sm">
						    <div class="card-body">
							    <h5 class="card-title mb-3">
								    <span class="theme-icon-holder card-icon-holder me-2">
								        <i class="fas fa-map-signs"></i>
							        </span><!--//card-icon-holder-->
							        <span class="card-title-text">Result</span>
							    </h5>
							    <div class="card-text">
									<font style="color:red;">Caution should be exercised as it is imperative to await the placement of the initial vote subsequent to clearing the databases in order to view the outcome. Failure to comply with this procedure may result in an error, which could potentially disrupt the page's functionality.</font>
							    </div>
							    <a class="card-link-mask" href="/admin_result"></a>
						    </div><!--//card-body-->
					    </div><!--//card-->
				    </div><!--//col-->
					<div class="col-12 col-lg-4 py-3">
					    <div class="card shadow-sm">
						    <div class="card-body">
							    <h5 class="card-title mb-3">
								    <span class="theme-icon-holder card-icon-holder me-2">
								        <i class="fas fa-tools"></i>
							        </span><!--//card-icon-holder-->
							        <span class="card-title-text">HTML Editor</span>
							    </h5>
							    <div class="card-text">
								    Please proceed with caution editing the HTML files to incorporate the candidate's information. It is important to note that the candidate's details will be added in a sequential manner, with each new addition appearing above the previous one. Therefore, careful consideration must be given to the order in which the candidates are added if a specific sequence is desired.
								</div>
							    <a class="card-link-mask" href="/HTML_Editor"></a>
						    </div><!--//card-body-->
					    </div><!--//card-->
				    </div><!--//col-->
					<div class="col-12 col-lg-4 py-3">
					    <div class="card shadow-sm">
						    <div class="card-body">
							    <h5 class="card-title mb-3">
								    <span class="theme-icon-holder card-icon-holder me-2">
								        <i class="fas fa-book-reader"></i>
							        </span><!--//card-icon-holder-->
							        <span class="card-title-text">Resources</span>
							    </h5>
							    <div class="card-text">
								    Within this section, you will find the prescribed steps that must be adhered to in order to successfully host an election on the Election Peak platform.
								</div>
							    <a class="card-link-mask" href="/documentation#section-8"></a>
						    </div><!--//card-body-->
					    </div><!--//card-->
				    </div><!--//col-->
				    <div class="col-12 col-lg-4 py-3">
					    <div class="card shadow-sm">
						    <div class="card-body">
							    <h5 class="card-title mb-3">
								    <span class="theme-icon-holder card-icon-holder me-2">
								        <i class="fas fa-arrow-down"></i>
							        </span><!--//card-icon-holder-->
							        <span class="card-title-text">Installation</span>
							    </h5>
							    <div class="card-text">
								    This section outlines the prescribed steps that must be followed to utilize the platform across multiple devices.
							    </div>
							    <a class="card-link-mask" href="/documentation#section-2"></a>
						    </div><!--//card-body-->
					    </div><!--//card-->
				    </div><!--//col-->
				    <div class="col-12 col-lg-4 py-3">
					    <div class="card shadow-sm">
						    <div class="card-body">
							    <h5 class="card-title mb-3">
								    <span class="theme-icon-holder card-icon-holder me-2">
								        <i class="fas fa-cogs fa-fw"></i>
							        </span><!--//card-icon-holder-->
							        <span class="card-title-text">Utilities</span>
							    </h5>
							    <div class="card-text">
								    Contained within this section are the requisite tools necessary to commence a new election.
								</div>
							    <a class="card-link-mask" href="/utils"></a>
						    </div><!--//card-body-->
					    </div><!--//card-->
				    </div><!--//col-->

<!--				    <div class="col-12 col-lg-4 py-3">-->
<!--					    <div class="card shadow-sm">-->
<!--						    <div class="card-body">-->
<!--							    <h5 class="card-title mb-3">-->
<!--								    <span class="theme-icon-holder card-icon-holder me-2">-->
<!--								        <i class="fas fa-tablet-alt"></i>-->
<!--							        </span>&lt;!&ndash;//card-icon-holder&ndash;&gt;-->
<!--							        <span class="card-title-text">Contact</span>-->
<!--							    </h5>-->
<!--							    <div class="card-text">-->
<!--								    This section provides assistance with contacting the developer.-->
<!--								</div>-->
<!--							    <a class="card-link-mask" href="/documentation#section-7"></a>-->
<!--						    </div>&lt;!&ndash;//card-body&ndash;&gt;-->
<!--					    </div>&lt;!&ndash;//card&ndash;&gt;-->
<!--				    </div>&lt;!&ndash;//col&ndash;&gt;-->

			    </div><!--//row-->
		    </div><!--//container-->
		</div><!--//container-->
    </div><!--//page-content-->

    <section class="cta-section text-center py-5 theme-bg-dark position-relative">
	    <div class="theme-bg-shapes-right"></div>
	    <div class="theme-bg-shapes-left"></div>
	    <div class="container">
		    <h3 class="mb-2 text-white mb-3">Queries ? </h3>
		    <div class="section-intro text-white mb-3 single-col-max mx-auto">Please feel free to write a mail to <a class="theme-link" href="mailto:adrushtshetty@gmail.com" target="_blank">adrushtshetty@gmail.com</a> or call <a class="theme-link" href="tel:+919880404603" target="_blank">+919880404603</a></div>
<!--		    <div class="pt-3 text-center">-->
<!--			    <a class="btn btn-light" href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/coderpro-bootstrap-5-startup-template-for-software-projects/">Get CoderPro<i class="fas fa-arrow-alt-circle-right ml-2"></i></a>-->
<!--		    </div>-->
	    </div>
    </section><!--//cta-section-->

    <footer class="footer">

	    <div class="footer-bottom text-center py-5">
		    
<!--		    <ul class="social-list list-unstyled pb-4 mb-0">-->
<!--			    <li class="list-inline-item"><a href="#"><i class="fab fa-github fa-fw"></i></a></li> -->
<!--	            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter fa-fw"></i></a></li>-->
<!--	            <li class="list-inline-item"><a href="#"><i class="fab fa-slack fa-fw"></i></a></li>-->
<!--	            <li class="list-inline-item"><a href="#"><i class="fab fa-product-hunt fa-fw"></i></a></li>-->
<!--	            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f fa-fw"></i></a></li>-->
<!--	            <li class="list-inline-item"><a href="#"><i class="fab fa-instagram fa-fw"></i></a></li>-->
<!--	        </ul>&lt;!&ndash;//social-list&ndash;&gt;-->
	        
	        <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
            <small class="copyright">Designed by <a class="theme-link" href="#" target="_blank">Adrusht Shetty</a> </small>
            
	        
	    </div>
	    
    </footer>

    <!-- Javascript -->          
    <script src="static/assets/plugins/popper.min.js"></script>
    <script src="static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    
    <!-- Page Specific JS -->
    <script src="static/assets/plugins/smoothscroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
    <script src="static/assets/js/highlight-custom.js"></script>
    <script src="static/assets/plugins/simplelightbox/simple-lightbox.min.js"></script>
    <script src="static/assets/plugins/gumshoe/gumshoe.polyfills.min.js"></script>
    <script src="static/assets/js/docs.js"></script>

</body>
</html> 

